.main {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 20px;
}

.colorsDiv {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.itemBlock {
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 2px;
  text-align: center;
  color: rgb(240, 240, 240);
  box-shadow: 2px 2px 10px #647e99;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2 ease-in;
}

.clickToCopy {
  width: fit-content;
  border-radius: 30px;
  padding: 5px;
  background-color: white;
  color: #1d1d1d;
  display: none;
}

.itemBlock:hover .colorName {
  display: none;
}

.itemBlock:hover .clickToCopy {
  display: inline;
}

.itemBlock:hover {
  box-shadow: 2px 2px 10px #475b70;
}

/* Select style */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #587088;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  width: 15em;
  height: 2em;
  line-height: 2;
  background: #62778d;
  overflow: hidden;
  border-radius: 0.25em;
}
.select select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #97a0aa;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
